
/*
Tailwind is interfering with Joy UI components*/
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bkg-grad-start: #a3bded;
  --bkg-grad-end: #6991c7;
}

html {
  min-height: 100%;
  color: #fff;
}

body {
  margin: 0;
  background-image: linear-gradient(to top, var(--bkg-grad-start) 0%, var(--bkg-grad-end) 100%);
  color: #fff;
}

