main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

nav {
    background-color: #10101000;
    border-bottom: #fff solid 0px;
    height: 4em;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav-button-group {
    margin-left: 5em;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.nav-button {
    padding: 0.5em;
    outline: white solid 0px;
    display: flex;
    cursor: pointer;
}

.nav-mobile-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.no-select {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.carousel-img {
    width: 100%;
}

.carousel-img-caption {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.form-contact-container {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.form-contact-main {
    display: flex;
    flex-wrap: wrap;
}

.form-contact-section.left {
    flex: 1;
}

.form-contact-section.right {
    flex: 2;
}

footer {
    width: 100%;
    padding: 1em;
    background-color: var(--bkg-grad-end);
    margin-top: 3em;
}

.footer-flex {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.footer-flex-group {
    margin-bottom: 2em;
    /*border: #fff solid 1px;*/
    min-width: 225px;
}

.footer-flex-group.last {
    margin-right: 0;
}

